* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* Gets rid of basic browser padding and margins */

.game {
  width: 700px;
  height: 230px;
  border: 2px solid black;
  background-color: skyblue;
  margin: auto; /* Centres game to centre */
}

#character {
  width: 90px;
  height: 50px;
  position: relative;
  top: 150px;
  content: url(http://clipart-library.com/image_gallery2/Car-Transparent.png);
}
.jump-animate {
  animation: jump 500ms;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 30px;
  height: 30px;
  position: relative;
  top: 120px;
  left: 480px;
  animation: block 1s infinite linear; /* adds animation to make block move left */
  content: url(http://clipart-library.com/img/1603226.png);
}
@keyframes block {
  0% {
    left: 700px;
  }
  100% {
    left: -200px;
  }
}

p {
  text-align: center;
}

.ground {
  width: 700px;
  height: 50px;
  background-color: grey;
  border: 1px solid black;
  position: absolute;
  top: 181px;
}

.sun {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
  position: Absolute;
  bottom: 725px;
  right: -550px;
}

#line {
  width: 2000px;
  height: 10px;
  border-bottom: 6px dashed white;
  position: absolute;
  top: 195px;
  animation: line 1s infinite linear;
}

@keyframes line {
  0% {
    left: 0px;
  }
  100% {
    left: -150px;
  }
}

h1 {
  color: black;
  top: 275px;
  margin: auto;
  text-align: center;
}

p {
  text-align: center;
}

#container {
  background-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
  text-align: center;
}
